.idea
.cordova
.tmp
bower_components
node_modules
build
build_docs
dist
plugins
platforms
indextest.html
test_results
npm-debug.log
karma_html
karma_services_html
report
report_services
src/client/app/version.js
docs/app/src/version.js
src/client/content/css/styles.css
translation
translated
src/client/content/maps
#Eclipse files
.settings
.project
.tern-projectl
.DS_Store
.com.apple.timemachine.supported
.vscode
src/client/lang.js
.scannerwork
src/client/content/images/logos/**
