<expander is-expanded="vm.result.isExpanded" is-expanded-changed="vm.displayDetails()">
    <expander-header class="guarantor-expander-header">
        <div layout="column">
            <p class="guarantor-name">
                {{ ::vm.result.guarantor.name }}
            </p>
        </div>
    </expander-header>
    <expander-body class="guarantor-expander-body">
        <!-- Progress -->
        <md-progress-circular md-mode="indeterminate" ng-if="vm.result.isLoadingDetails"></md-progress-circular>

        <div layout="column" class="guarantor-detail-info" ng-if="!vm.result.isLoadingDetails">
            <div flex="auto" layout-margin>
                <div flex="initial">
                    <h5>
                        <small>{{ 'guarantor.GUA_DETAILS' | translate }}</small>
                    </h5>
                </div>
                <div layout="column" layout-gt-sm="row">
                    <div layout="column" flex-gt-sm="50" flex="auto">
                        <content-item-detail label="{{ 'core.NAME' | translate }}" content="{{ ::vm.result.guarantor.name }}"></content-item-detail>
                        <content-item-detail label="{{ 'guarantor.GUA_CODE' | translate }}" content="{{ ::vm.result.guarantor.code }}"></content-item-detail>
                        <content-item-info-one-line label="{{ 'guarantor.GUA_BEGINDATE' | translate }}" content="{{ vm.result.guarantor.begindate | formatDate : 'date'}}"
                                                    label2="{{ 'guarantor.GUA_ENDDATE' | translate }}" content2="{{ vm.result.guarantor.enddate | formatDate }}"></content-item-info-one-line>
                        <content-item-detail label="{{ 'guarantor.GUA_OCCASIONAL' | translate }}" content="{{ ::vm.result.guarantor.occasional | formatBoolean :'date'}}"></content-item-detail>
                    </div>

                    <div layout-margin hide-xs hide-sm></div>
                    <div style="padding-top:5px" hide-gt-sm></div>

                    <div layout="column" flex-gt-sm="50" flex="auto">
                        <content-item-detail label="{{ 'core.ADDRESS' | translate }}" content="{{ ::vm.result.guarantor.address }}"></content-item-detail>
                        <content-item-detail label="{{ 'core.ADDRESS_LINE_2' | translate }}" content="{{ ::vm.result.guarantor.address2 }}"></content-item-detail>
                        <content-item-detail label="{{ 'core.POSTCODE' | translate }}" content="{{ ::vm.result.guarantor.postcode }}"></content-item-detail>
                        <content-item-detail label="{{ 'core.LOCALITY' | translate }}" content="{{ ::vm.result.guarantor.locality }}"></content-item-detail>
                        <content-item-detail label="{{ 'core.CANTON' | translate }}" content="{{ ::vm.result.guarantor.canton }}"></content-item-detail>
                        <content-item-detail label="{{ 'core.COUNTRY' | translate }}" content="{{ ::vm.result.guarantor.country }}"></content-item-detail>
                        <content-item-detail label="{{ 'guarantor.GUA_COMPLEMENT' | translate }}" content="{{ ::vm.result.guarantor.complement }}"></content-item-detail>
                    </div>
                </div>
            </div>
        </div>

        <!-- TOOLBAR -->
        <div class="fec-nav-toolbar right-align" ng-if="!vm.result.isLoadingDetails">
            <fec-nav-button-invoice-list vnb="vm.result.vnb" guarantor-id="vm.result.guarantor.guarantor_id" is-enabled="vm.result.isExpanded"></fec-nav-button-invoice-list>
        </div>
    </expander-body>
</expander>
