/*** ADDITIONAL FLUANCE VARIABLES ***/

$flu-button-right-off-screen: -($button-floating-size * 2);     // Right position, when button slide off the screen
$flu-button-right: 10px;                                        // Right padding for buttons
$flu-button-opacity-mobile: 0.5;                                // Button opacity on mobile devices
