<div id="appointment-detail" layout="column">
    <div class="fec-page-title" flex="initial">
        <h5 hide-xs>{{ 'appointment.TITLE_LIST' | translate }}</h5>
        <span class="number-badge" ng-show="vm.dataPager.hasTotalItemsCount">{{ 'appointment.NB_OF_APPOINTMENTS' | translate:{APPOINTMENT : vm.dataPager.totalItemsCount} }}</span>
    </div>
    <div flex="noshrink">
        <fec-data-pager-sort ng-if="vm.canSort()" sort-criteria="vm.sortCriteria" selected-sort-criteria="vm.dataPager.sortBy" selected-sort-direction="vm.dataPager.sortDirection"
            on-changed="vm.refresh()">
        </fec-data-pager-sort>
    </div>

    <!-- DIV WHEN THERE IS NO POLICY -->
    <md-card class="warn" ng-show="vm.dataPager.isEmpty()">
        <md-card-content>
            {{ 'appointment.NO_APPOINTMENT' | translate }}
        </md-card-content>
    </md-card>

    <!-- APPOINTMENT AREA -->
    <div infinite-scroll="vm.dataPager.getNextPage()" infinite-scroll-disabled="vm.dataPager.isLoading || !vm.dataPager.canGetNextPage()"
        infinite-scroll-distance="0" infinite-scroll-container="vm.scrollableContainer" flex="auto">
        <expander-accordion>
            <fluance-appointment result="item" ng-repeat="item in vm.dataPager.items"></fluance-appointment>
        </expander-accordion>
    </div>
    <div layout-padding>
        <md-progress-linear md-mode="indeterminate" ng-if="vm.dataPager.isLoading"></md-progress-linear>
        <div ng-show="vm.dataPager.hasTotalItemsCount && !vm.dataPager.canGetNextPage()" class="center-align">
            <span class="number-badge passive">{{ 'appointment.NB_OF_APPOINTMENTS' | translate:{APPOINTMENT : vm.dataPager.totalItemsCount} }}</span>
        </div>
    </div>
</div>
