<h5>
    <small>{{ 'visit.REFERRING_PHYS' | translate }}</small>
</h5>
<div layout="column">
    <div class="noResult" ng-hide="$ctrl.physician.referringPhysicianId">
        <p class="warn">{{ 'visit.NOT_SPECIFIED' | translate }}</p>
    </div>
    <div ng-show="$ctrl.physician.referringPhysicianId">
        <md-list>
            <content-item-detail label="{{ 'core.STAFF_ID' | translate }}" content="{{ ::$ctrl.physician.referringPhysicianStaffid }}"></content-item-detail>
            <content-item-detail label="{{ 'core.FIRSTNAME' | translate }}" content="{{ ::$ctrl.physician.referringPhysicianFirstname }}"></content-item-detail>
            <content-item-detail label="{{ 'core.LASTNAME' | translate }}" content="{{ ::$ctrl.physician.referringPhysicianLastname }}"></content-item-detail>
        </md-list>
    </div>
</div>
